.login-background{
  background-image: url('/assets/login/login.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  position: absolute;
}



body{
  overflow: hidden;
}

.black{
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 30%;
  position: absolute;
}

.login-form .login-black{
  position: absolute;
  background-color: black;
  width: 100%;
  height: 100%;
  z-index: 20;
}

.login-form{
  letter-spacing: 4px;
  height: 100%;
  position: absolute;
  z-index: 30;
  left: 0;
  width: 400px;
  display: flex;
  flex-direction: column;
}

.register-button svg{
  width: 30px;
  height: 30px;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 70%;
  opacity: 50%;
  top: 50%;
}

.register-button{
  width: 100px;
  height: 100px;
  right: 20px;
  z-index: 20;
  top: 45%;
  transform: translateX(50%);
  border-radius: 100%;
  background-color: black;
  position: absolute;
}

.login-form .title{
  margin-bottom: 15px;
  font-size: 35px;
}

.login-form input{
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.524);
  /* border-radius: 10px; */
  padding: 10px 20px;
  margin-top: 5px;
  width: 100%;
  margin-bottom: 5px;
  color: white;
}

.inside-form{
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 30;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.back-to-home{
  width: 100%;
  text-align: right;
  margin-top: 10px;
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 1px;
}

.login-form a:hover{
  text-decoration: underline;
}

.login-form button {
  width: 100%;
  padding: 10px 0px;
  margin-top: 10px;
  border-radius: 0px;
  border: none;
}



