/* Main Styling for All Page */

@font-face{
  font-family: hollowKnight;
  src: url('../assets/font/Supernatural_Knight.ttf')
}
/* ===== Scrollbar CSS ===== */
  /* Firefox */
  * {
    scrollbar-width: auto;
    scrollbar-color: #ff5c5c #000000;
  }

  /* Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #000000;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #ff5c5c;
    border-radius: 10px;
    border: 3px solid black;
  }

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

:root{
  --primary: black;
  --secondary: white;
  --gray: rgb(200, 200, 200);
  --accent: #ff6046;
  --footer: #e83046;
  --maxWidth: 1500px;
}

#black{
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0);

}

body{
  transition: all 0.5s ease;
  color: white;
  font-family: 'Noto Sans', sans-serif;
  letter-spacing: 2px;
  background-color: black;
  /* background-image: url('assets/landing/batik.png'); */
}

a{
  text-decoration: none;
  color: white;
}


/* Navbar */
nav{ 
  /* z-index 10 because jumbotron is also absolute */
  position: absolute;
  left: 50%; 
  transform: translate(-50%);
  max-width: var(--maxWidth);
  z-index: 50;
}



nav .container .play{
  border-radius: 5px;
  border: 2px solid rgb(154, 154, 154);
  padding: 13px 30px;
  font-size: 20px;
  transition: all 0.1s ease;
  position: relative;
  overflow: hidden;
}

nav .container .play:hover{
  border-color: var(--secondary);
  color: black;
}

nav .container .play span{
    z-index: 5;
    position: relative;
    transition: color 350ms ease;
}

nav .container .play::before{
  z-index: -1;
  content: ' ';
  position: absolute;
  left: -150%;
  background-color: white;
  height: 100%;
  transform: skew(30deg);
  width: 140%;
  transition: all 0.7s ease;
}


nav .container .play:hover::before{
  left: -20%;
}


nav .menu{
  cursor: pointer;
  font-weight: 500;
  margin-right: 20px;
  transition: all 0.5s ease;
  position: relative;
  overflow: hidden;
}

nav .menu::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 1%;
  bottom: 27%;
  left: -100%;
  transition: all 0.5s ease;
  background-color: white;
}

nav .menu:hover::before{
  left: 0%;
}


nav .left div + div{
  margin-left:20px;
}


nav .container{
  padding: 20px 140px; 
}



/* Footer */
footer{
  background-color: var(--footer);
  padding: 30px;
}

footer a + a{
  margin-left: 20px;
}

footer .logo-container:hover{
  bottom: 3px;
}

footer .logo{
  filter: invert(51%) sepia(85%) saturate(7415%) hue-rotate(339deg) brightness(96%) contrast(89%);
}

footer .logo-container{
  position: relative;
  transition: all 1s ease;
  background-color: white;
  padding: 5px;
  border-radius: 50%;
}

footer .logos{
  margin-bottom: 20px;
}



/* Global Styling */

.noto{
  font-family: 'Noto Sans', sans-serif;
}
.w-full{
  width: 100%;
}

.full{
  width: 100%;
  height: 100vh;
}

.cursor-pointer{
  cursor: pointer;
}

.center{
  display: flex;
  justify-content: center;
  align-items: center;
}

.absolute{
  position: absolute;
}

.absolute-full{
  width: 100%;
  height: 100%;
  position: absolute;;
  top:0;
  left: 0;
}

.flex{
  display:flex;
}

.flex-col{
  flex-direction: column ;
}

.flex-row{
  flex-direction: row;
}

.asd{
  background-color: red;
}
.flex-between{
  justify-content: space-between;
}
.min-h-screen{
  min-height: 100vh;
}
.relative{
  position: relative;
}

.text-center{
  text-align: center;
}


.hollow{
  font-family: 'hollowKnight';
}

.fit-content{
  width: fit-content;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.glass{
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0.2);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}